*{
    max-width: 0 auto;
    margin: 0;
    pading:0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: black;
    display:flex;
    justify-content: space-between;
    padding: 20px;
}
header a{
    color:white; 
    text-decoration: none;  
}
nav ul li{
    display:inline;
}
nav li{
    margin-left: 20px;
}
header a:hover{
    text-decoration: underline;
}

/* body */

.galery{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    align-items: flex-start;
    flex-wrap: wrap;
}
.galery > div{
    flex: 1 1 300px;
    margin: 10px;
}
h1{
    text-align: center;
    margin: 16px;
}
p{
    text-align: center;
    margin: 16px;
}
img{
    max-width: 100%;
}
